<div class="col-md-8 col-md-offset-2">
    <form class="form-horizontal" ng-submit="save()" novalidate>

        <div class="panel panel-default" >
            <div class="panel-heading" >
                
                {{mode}}

                <div class="pull-right">

                    <button class="btn btn-primary btn-sm"
                        ladda="contacts.isSaving"
                        type="submit" 
                        ng-click="save()">
                        <span ng-if="mode == 'Edit'">Save</span>
                        <span ng-if="mode == 'Create'">Create</span>
                    </button >

                    <button class="btn btn-danger btn-sm"
                        ladda="contacts.isRemoving"
                        ng-if="mode == 'Edit'"
                        ng-click="remove()" >delete
                    </button >

                </div>

                <div class="clearfix">

            </div >

            <div class="panel-body" >

               
                    <ng-include src="'templates/form.html'"></ng-include> 
               

            </div >
        </div >

    </form>
</div >