<div class="col-md-12" >

        <form class="form-inline well well-sm" >
            <span class="fa fa-search" ></span >

            <div class="form-group" >
                <input type="text"
                        class="form-control"
                        id="name"
                        ng-model="contacts.search"
                        placeholder="Search name..."
                        />
            </div >

            <span class="fa fa-sort" ></span >

            <div class="form-group" >
                <select class="form-control"
                        ng-model="contacts.ordering" >
                    <option value="name" >Name (ASC)</option >
                    <option value="-name" >Name (DEC)</option >
                    <option value="email" >Email (ASC)</option >
                    <option value="-email" >Email (DEC)</option >
                </select >
            </div >

            <!--<button class="btn btn-primary pull-right" ng-click="showCreateModal()">Create</button>-->

        </form >

        <div class="row" infinite-scroll="loadMore()" infinite-scroll-distance="1" infinite-scroll-immediate-check="false">
            <cc-card ng-repeat="person in contacts.persons" user="person" delete-user="parentDeleteUser"></cc-card>
        </div>

        <!--<table class="table table-bordered" infinite-scroll="loadMore()" infinite-scroll-distance="1">

            <tr >
                <th class="col-1">Picture</th >
                <th class="col-2">
                    <div class="sortables">
                        <span ng-click="order = 'name'"
                            class="fa fa-sort-asc" ></span >
                        <span ng-click="order = '-name'"
                            class="fa fa-sort-desc" ></span >
                    </div>
                    Name
                </th >
                <th class="col-3">
                    <div class="sortables">
                        <span ng-click="order = 'email'"
                            class="fa fa-sort-asc" ></span >
                        <span ng-click="order = '-email'"
                            class="fa fa-sort-desc" ></span >
                    </div>
                    Email
                </th >
                <th class="col-4">Phone Number</th >
            </tr >

            <tr ng-repeat="person in contacts.persons"
                ng-style="{
                    'background-color': person.email == contacts.selectedPerson.email ? 'lightgray' : ''}"            
                ui-sref="edit({email: person.email})">

                <td ><img ng-src="{{person.photo | defaultImage: '../avatar.png'}}" class="img-circle profile-photo" alt=""></td >
                <td >{{ person.name }}</td >
                <td >{{ person.email }}</td >
                <td >{{ person.phonenumber }}</td >
            </tr >
            
        </table >-->

        <div ng-show="contacts.persons.length == 0 && !contacts.isLoading" >
                <div class="alert alert-info" >
                    <p class="text-center" >No results found for search term '{{ search }}'</p >
                </div >
        </div >

        <cc-spinner is-loading="contacts.isLoading" message="Loading..."></cc-spinner>

</div ><!--list controller-->